
dwutablicy/zad6/zad6.layout
dwutablicy/zad6/zad6.layout
dwutablicy/zad9/bin/Debug/zad9.exe
dwutablicy/zad9/main.c
dwutablicy/zad9/zad9.cbp
dwutablicy/zad6/zad6.layout
dwutablicy/zad9/obj/Debug/main.o
dwutablicy/zad9/zad9.depend
napisy/zadspace/zadspace.layout
dwutablicy/zad9/zad9.layout
